[Unit]
Description=Download latest pubkeys
After=network-online.target

[Service]
User=gzhu
Type=oneshot
# Home of user
Environment="HOME=/home/gzhu"
WorkingDirectory=/home/gzhu/.update_pubkeys
ExecStart=/home/gzhu/.update_pubkeys/update.sh
SuccessExitStatus=0
